<template>
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Worky test</h1>
			</div>
		</div>
		<div class="row">
            <div class="col col-4">
                <h2>Autor</h2>
                <h3>Santiago Vázquez</h3>
                <p><b>Teléfono: </b>5512695855</p>
                <p><b>Email: </b>jsantiagovl@hotmail.com</p>
                <p><b>Puesto actual: </b>Director de desarrollo web</p>
                <p><b>LinkedIn: </b><a target=_blank href="http://www.linkedin.com/in/santiagovazquezlopez">santiagovazquezlopez</a></p>

            </div> 
			<div class="col col-8 ">
                <h2>Implementación</h2>
                <h3>Scraping</h3>
                <p>
                    El script fue realizado en python, empleando scrapy.<br>
                    Consta de dos partes, la primera se encarga de recolectar las url todos los personajes dentro del wiki.<br>
                    La segunda parte consiste en obtener los datos de la pagina de cada personaje.<br>
                    Para esta ultima accion se emplearon las bibliotecas bsoup4 y lxml, para aprovechar la sencillez del primero y la potencia del segundo.<br>
                    El script general se debe ejecutar con la ayuda de scrapy de la siguiente forma: <br>
                    scrapy runspider indexScrapy.py<br>
                    <br>
                    El mismo se encuentra en <a target=_blank href="https://gitlab.com/SantigoVL/worky-naruto-scraping">Worky Naruto Scraping</a>

                </p>
                <h3>DB</h3>
                <p>
                    Se empleo mongoDB.
                    Se cuentan con dos colecciones, personajes y direcciones, en la primera se almacena la información de todos los personajes y la segunda almacena las url procesadas.<br>
                    Cada vez que se ejecuta el scraping los datos son actualizados solo si hay cambios, en caso de las urls que no se encontrasen antes se registran las nuevas.<br>
                    También de esta forma sería posible almacenar un historial de cambios respecto a la url u otros datos asociados.<br>
                    <br>
                    La base de datos requerida: CHARACTERS

                </p>
                <h3>API</h3>
                <p>
                    El servicio corre sobre node.js y express, el mismo se mantiene utilizando pm2.<br>
                    <br>
                    Repositorio del servicio: <a target=_blank href="https://gitlab.com/SantigoVL/worky-naruto-service">Worky Naruto Service</a>
                    <br><br><b>Endpoints:</b><br><br>
                    <a target=_blank href="http://apinaruto.naranjacode.com/listcharacters"> Get List of characters </a><br>
                    <a target=_blank href="http://apinaruto.naranjacode.com/character/5c577ec9901a382aa2795f7e"> Get character by id </a><br>
                    <a target=_blank href="http://apinaruto.naranjacode.com/characters"> Get ALL characters </a><br>

                </p>
                <h3>Vue</h3>
                <p>
                    Vue.js + Boostrap<br><br>
                    Repositorio a vue: <a target=_blank href="https://gitlab.com/SantigoVL/worky-naruto-web">Worky Naruto Web</a>

                </p>
                <h3>Servidor</h3>
                <p>
                    He dispuesto, de manera temporal, una instancia de amazon configurada para este ejercicio.<br><br>
                    Instancia Amazon EC2, Ubuntu 18<br>
                    t2-micro, 4GB swap. <br>
                    Configuración: mongoDB, nginx, python3.7, node y pm2<br>

                </p>
            </div>
		</div>
	</div>
</template

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HelloWorld from "@/components/HelloWorld.vue"; // @ is an alias to /src;
import axios from "axios";

@Component({
  components: {
    HelloWorld
  }
})
export default class List extends Vue {
  items = [];
  fields = [
    'name',
    'source',
    'id'
  ]
  created() {
    this.loadData();
  }
  sayHello() {
    console.log("Hola Santi");
  }
  async loadData() {
    try {
      let response = await axios.get("http://localhost:3000/listcharacters");
      console.log(response.data);
      this.items = response.data;
    } catch (e) {
      console.log(e);
    }
  }
}
</script>

<style lang="scss" scoped>
.col {
  text-align:left;
}
.col h1{
    text-align: center;
    padding-bottom:30px;
}

</style>
