<template>
    <div class="container">
        <div class="row">
            <div class="col"><h1>{{name}}</h1></div>
        </div>
        <div class="row">
            <div class="col">
                <div class="imaged"><img :src="image" /></div>
                <table class="tableCont" v-html="table"></table>
            </div>
            <div class="col">
                <div class="bodyCont" v-html="body"></div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Route } from "vue-router"
import HelloWorld from "@/components/HelloWorld.vue"; // @ is an alias to /src;
import axios from "axios";



@Component({
  components: {
    HelloWorld
  }
})
export default class List extends Vue {
    $route!: Route
    id = ''
    image = ''
    body = ''
    name=''
    table=''
    created() {
    console.log(this.$route.params.id)
    this.id = this.$route.params.id;
    this.loadData();
    }
  async loadData() {
    try {
      let response = await axios.get("http://apinaruto.naranjacode.com/character/" + this.id);
      console.log(response.data);
      this.body = this.bodyDataToHtml(response.data[0].bodyData)
      this.image = response.data[0].imageUrl
      this.name = response.data[0].name
      this.table = this.tableDataToHtml(response.data[0].tableData)
    } catch (e) {
      console.log(e);
    }
  }
  bodyDataToHtml(bodyData:any){
     let html = ''
     for (var key in bodyData) {
        if (bodyData.hasOwnProperty(key)) {
            html += '<h2>' + key + '</h2>';
            html += '<p>' + bodyData[key] + '<p>';
        }
    }
      return html
  }
 tableDataToHtml(tableData:any, hsize = 4){
     let html = ''
     for (var key in tableData) {
        if (tableData.hasOwnProperty(key)) {
            html += `<tr><td><h${hsize}>` + key + `</h${hsize}></td></tr>`;
            if(typeof(tableData[key]) == "object"){
                html += `<tr><td>${this.tableDataToHtml2(tableData[key])}</tr></td>`;
            }else{
                html += '<tr><td><p>' + tableData[key] + '<p></td></tr>';
            }
        }
    }
    return html
  }
tableDataToHtml2(tableData:any){
     let html = ''
     for (var key in tableData) {
        if (tableData.hasOwnProperty(key)) {
            html += `<b>${key}: </b> ${tableData[key]} <br>`;
        }
    }
      return html
  }

}

</script>

<style lang="scss">
.tableCont {
  margin: auto;
  width: 100%;
  text-align: left
}
h4, h2{
    text-transform: capitalize;
    padding:5px 0px;
}
h1{
    padding-bottom:30px;
}
.imaged{
    background-color:black;
}
.bodyCont{
    text-align: left;
}
</style>
