<template>
    <div class="container">
        <div class="row">
            <div class="col"><h1>{{name}}</h1></div>
        </div>
        <div class="row">
          <div class="col">
  <b-table :fields="fields" :items="items" id="tableCont">
    <template slot="id" slot-scope="data">
      <a :href="`/character/${data.value}`">
        {{data.value}}
      </a>
    </template>
  </b-table>
  </div>
    </div>
      </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HelloWorld from "@/components/HelloWorld.vue"; // @ is an alias to /src;
import axios from "axios";

@Component({
  components: {
    HelloWorld
  }
})
export default class List extends Vue {
  items = [];
  fields = [
    'name',
    'source',
    'id'
  ]
  created() {
    this.loadData();
  }
  sayHello() {
    console.log("Hola Santi");
  }
  async loadData() {
    try {
      let response = await axios.get("http://apinaruto.naranjacode.com/listcharacters");
      console.log(response.data);
      this.items = response.data;
    } catch (e) {
      console.log(e);
    }
  }
}
</script>

<style lang="scss" scoped>
#tableCont {
  margin: auto;
  text-align:left;
}

</style>
